streamlit 
kiteconnect 
pandas 
pandas-ta 
plotly 
streamlit-autorefresh 
pytz 
feedparser 
vaderSentiment 
statsmodels 
scipy 
tabulate 
yfinance 
pyotp 
qrcode 
pillow 
requests 
scikit-learn 
tensorflow 
xgboost 
textblob
